{% extends "base_generic.html" %}

{% block content %}
<h1 style="color: #a000ff">Local Library Home</h1>

  <p style="color: #6060ff">Welcome to <em>LocalLibrary</em>,</p>

<h2 style="color: #c000a0">Dynamic content</h2>

  <p style="color: #00c040">The library has the following record counts:</p>
  <ul style="color: #00ff00">
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
  </ul>
<p style="color: #00c0ff">You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
{% endblock %}